.button:hover {
    background-color: rgba(208, 208, 208, 0.981);
}

.btn-black:hover {
    background-color: rgba(46, 44, 44, 0.822);
    box-shadow: 0 0 10px rgb(44, 43, 43);
}

.download-blue:hover {
    background-color: rgb(204, 186, 226);
    box-shadow: 0 0 10px rgb(44, 43, 43);
    color: black;


}

.register:hover {
    background-color: rgba(121, 119, 255, 0.833);
    color: black;
}