header {
    background-color: #23272A;
    color: white;
    line-height: 24px;
    margin-bottom: 2em;
}

h2 {
    font-size: 2rem;
}

.btn-black {
    margin-left: -2px;
}

.title-download h1 {
    font-size: 3.5rem;
    font-weight: 900;
    line-height: 100%;
    padding-bottom: 0.6em;
}

.title-download p {
    padding-bottom: 2.7em;
}

.container {
    max-width: 1200px;
}

.title-download {
    max-width: 40%;
    padding-right: 1em;
}

.download-home {
    background-image:url("../img/download-home.svg");
}

.cards {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
    padding: 4em 1em;
}

.download {
    background-color:#F6F6F6;
    border-radius: 15px;
    min-width: calc(100% / 2 - 20px);
    max-height: 600px;
    text-align: center;
    margin: 10px;
    overflow: hidden;
}

.download h2 {
    padding-top: 50px;
    padding-bottom: 30px;
}

.download img {
    margin-top: 4em;
}

.last-card {
    max-width: calc(100% / 2 - 20px);
    padding: 0 20px;
}

.last-card p {
    font-size: 18px;
}

.last-btn {
    padding: 30px 0;
}