* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica";
    font-size: 16px;
}

header {
    background-color: #255EE9;
    color: white;
}

footer {
    background-color: #23272A;
    padding: 3.5em 0;
}

#title {
    width: 65%;
    min-height: 330px;
    margin: auto;
    text-align: center;
}

#title h1 {
    font-size: 2.5rem;
    padding: 0.7em 0;
}

#title p {
    line-height: 1.5rem;
    padding-bottom: 2em;
}

.container {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 2em 1em;
    display: flex;
}

.container > div {
    width: 100%;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.logo {
    text-align: start;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.login {
    text-align: end;
    padding-left: 10px;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 0.8em;
}

.link, .login {
    padding-top: 0.7em;
}

.button {
    background-color: white;
    color: #23272A;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.8em 1em;
}

.btn-black {
    background-color: #23272A;
    color: white;
    margin-left: 1em;
}

.fa-solid, .fa-down-long {
    padding: 0 10px;
}

.section {
    padding: 2em 0;
}

.bg-img {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    padding: 1em 1em;
}

.channel {
    display: flex;
    min-height: 450px;
}

.channel > div {
    min-width: 300px;
}

.image {
    flex-grow: 1;
    background-size: contain;
    background-repeat: no-repeat;
}

.frog {
    background-image:url("../img/item1.svg");
}

.side-text {
    max-width: 40%;
    padding: 2em 2.5em;
}

.side-text h2, .in-touch h2 {
    font-size: 2.3rem;
    padding-bottom: 2rem;
}

.side-text p {
    line-height: 1.5rem;
}

.wizard {
    background-image: url("../img/item2.svg");
}

.grey {
    background-color: #F6F6F6;
}

.reverse {
    flex-direction: row-reverse;
}

.book {
    background-image: url("../img/item3.svg");
}

.in-touch {
    min-height: 850px;
    text-align: center;
}

.in-touch p {
    line-height: 1.5rem;
    padding: 0 4em;
}

.stars h3 {
    font-size: 1.6rem;
    padding: 2em 0;
}

.stars {
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    background-position: center 15%;
}

.download-blue {
    background-color: #7983F5;
    color: white;
}

.top-footer {
    display: flex;
}

.larger-column {
    flex-grow: 1;
}

.larger-column h3 {
    font-size: 1.6rem;
    color: #5865F2;
}

.language {
    color: white;
    font-size: 0.7rem;
    padding-top: 2em;
}

.language img {
    max-height: 14px;
    vertical-align: middle;
}

.fa-brands {
    padding: 1em 1em 0 0;
    color: white;
}

.column {
    min-width: 18%;
}

.column h5 {
    color:#5865F2;
}

.column a {
    font-size: 0.7rem;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 15px;
}

ul {
    list-style: none;
}

.bottom-footer {
    padding-top: 25px;
    border-top: 1px solid #7781F0;
}

.last-logo {
    float: left;
}

.register {
    float: right;
    background-color: #7781F0;
    color: white;
    font-size: 0.7rem;
}