* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica";
    font-size: 16px;
}

header {
    background-color: #255EE9;
    color: white;
}

footer {
    background-color: #23272A;
}

#title {;
    width: 65%;
    min-height: 330px;
    margin: auto;
    text-align: center;
}

#title h1 {
    font-size: 2.5rem;
    padding: 0.8em 0;
}

#title p {
    line-height: 1.5rem;
    padding-bottom: 2em;
}

.container {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    padding: 1em 1em;
    display: flex;
}

.container > div {
    width: 100%;
    padding-top: 0.5em;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.nav > div {
    min-width: 20%;
}

.logo {
    text-align: start;
}

.link {
    flex-grow: 1;
    text-align: center;
}

.login {
    text-align: end;
}

.link a {
    text-decoration: none;
    color: white;
    padding: 0.8em;
}

.link, .login {
    padding-top: 0.7em;
}

.button {
    background-color: white;
    color: #23272A;
    text-decoration: none;
    border-radius: 30px;
    padding: 0.8em 1em;
    margin-bottom: 10px;
}

.btn-black {
    background-color: #23272A;
    color: white;
    margin-left: 1em;
}

.fa-solid, .fa-down-long {
    padding: 0 10px;
}

.section {
    padding: 1em 0;
}

.bg-img {
    background-image: url("../img/jumbo.png");
    background-size: cover;
    background-position: center;
    padding: 2em 1em;
}

.border {
    border: 1px dashed black;
}

.double {
    display: flex;
    min-height: 350px;
}

.double > div {
    min-width: 350px;
}

.lightblue {
    flex-grow: 2;
    background-color: #1E90FF;
}

.lightpink {
    background-color: #FFC0CB;
}

.grey {
    background-color: #D3D3D3;
}

.reverse {
    flex-direction: row-reverse;
}

.green {
    background-color: #228B22;
    min-height: 550px;
}

.top-footer {
    display: flex;
    min-height: 400px;
}

.larger-column {
    background-color: #F08080;
    flex-grow: 1;
}

.column {
    background-color: #20B2AA;
    border: 1px dashed white;
    min-width: 18%;
}

.bottom-footer {
    background-color: #7FFFD4;
    padding: 1em 0;
}

.bottom-footer > div {
    background-color: #FFB6C1;
    padding: 4px;
}

.last-logo {
    float: left;
}

.bottone {
    float: right;
}